 * {
  padding: 0;
  margin: 0;
  list-style: none;
}

html {
  font-size: 100px;
}

a {
  text-decoration: none;
}

body {
  font-size: 15px;
  background-image: url(../img/bj2.jpg);
}

@media screen and (min-width: 320px) {
  html {
    font-size: 42.66667px;
  }
}

@media screen and (min-width: 360px) {
  html {
    font-size: 48px;
  }
}

@media screen and (min-width: 375px) {
  html {
    font-size: 50px;
  }
}

@media screen and (min-width: 412px) {
  html {
    font-size: 54.93333px;
  }
}

@media screen and (min-width: 414px) {
  html {
    font-size: 55.2px;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 102.4px;
  }
}
 
  
  body,ul,li,ol,dl,dt,dd,p,pre,h1,h2,h3,h4,h5,h6,input{
	margin: 0 ;
	padding: 0;
	list-style-type:none;
}

img{
	border: 0 ;
}
a{
	text-decoration: none;
}
/*下拉按钮*/
.two{
	position: absolute;
	background:rgba(255,255,255,0.05);
	width: 100%;
	height: 126px;
	left: 0;
	bottom: 0;
}

.two img{
	position: absolute;
	top: 50%;
	left: 50%;

}
/*顶部*/

/*背景图片*/
#box .section:nth-of-type(1){
	background: #CED7DF;
	position: relative;
}
#box .section:nth-of-type(2){
	background:#76B852;
	position: relative;

}
#box .section:nth-of-type(3){
	background:#323B43;
	position: relative;

}
#box .section:nth-of-type(4){
	background:#CED7DF;
	position: relative;

}
/*动画第一个*/
.one-b{
	position: absolute;
	top: 60px;
	left: 0.2rem;
	animation:feiji 1s ease 0s infinite alternate;
}
@keyframes feiji{
	0%{
		transform:translateY(0);
	}
	100%{
		transform:translateY(-10px);
	}
}
.two img{
	position: absolute;
	top: 50%;
	left: 50%;
	animation:jt 0.8s ease 0s infinite alternate;

}
@keyframes jt{
	0%{
		transform:translateY(0);
		opacity: 1;
	}
	100%{
		transform:translateY(-20px);
		opacity: 0.5;

	}
}

/*第一个*/
.box-a{
	width: 1200px;
	height: 100%;
	/*background: red;*/
	margin: 0 auto;
	position: relative;
}
.box-a-wz{
	position: absolute;
	top: 50px;
	left: 10px;
	width: 350px;
	height: 100px;
	/*background: blue;*/
	text-align: center;
	line-height: 100px;
}
.box-a-wz a span{
	font-size: 50px;
	color: #000;
	font-family: '黑体';
}
.box-a-wza{
	position: absolute;
	width: 0.3rem;
	height: 1rem;
	top:3rem ;
	left: 0.1rem;
	/*background: yellow;*/
}
.box-a-kk{
	margin-top: 20px;
	margin-left: 20px;
	width: 250px;
	height: 30px;
	background: #fff;
}
.box-a-kk a{
	color: #323B43;
	font-family: '黑体';
	font-size: 20px;

}
.geren{
	width:1.7rem;
	height: 1.7rem;
	/*background: blue;*/
	position: absolute;
	top: 2rem;
	left: 5.8rem;
}
.geren img{
	width: 100%;
}

/*第二个*/
.box-b{
	position: absolute;
	top: 50px;
	left: 10px;
	width: 350px;
	height: 100px;
	/*background: blue;*/
	text-align: center;
	line-height: 100px;
}
.box-b span{
	font-size: 50px;
	font-family: '黑体';
}
section{ 
	color: #FFFFFF;
	border-width: 1px; 
	border-style: solid; 
}

/*第三个*/
.box-c{
	position: absolute;
	top: 50px;
	left: 200px;
	width: 300px;
	height: 100px;
	/*background: red;*/
	/*margin: 0 auto;*/
}
.box-c span{
	font-size: 50px;
	font-family: '黑体';
}
.box-c-a{
	float: left;
	margin-left: 120px;
	width: 200px;
	height: 200px;
	border-radius: 50%;
	background: #CED7DF;
	text-align: center;
	line-height: 200px;
}
.box-c-a-a{
	float: left;
	margin-left: 25px;
	margin-top: 25px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #323B43;
	text-align: center;
	line-height: 150px;
}
.box-c-a span{
	font-size: 50px;
}
.box-c-b{
	float: left;
	margin-left: 120px;
	margin-top: 20px;
	width: 200px;
	height: 70px;
	background: #fff;
	text-align: center;
	line-height: 70px;
}
.box-c-b span{
	font-size: 30px;
	font-family: '黑体';
	font-weight: bold;
}






/*第四个*/
.box-d{
	position: absolute;
	top: 50px;
	left: 200px;
	width: 300px;
	height: 100px;
	/*background: red;*/
	/*margin: 0 auto;*/
}
.box-d span{
	font-size: 50px;
	font-family: '黑体';
}
.shangbiao{
	position: absolute;
	bottom:20px;
	right: 20px;

}
.box-d-a{
	position: absolute;
	top: 120px;
	left:200px;
	width: 250px;
	height: 300px;
	margin: 0 auto;
	/*background: red;*/
}
.box-d-a span{
	font-size: 20px;
	color: #888;
	font-family: '黑体';
	font-weight: bold;
}
.box-d-tp{
	position: absolute;
	top: 100px;
	right: 200px;
}
#lj{
	position:absolute;
	left: 0.5rem;
	bottom:2.5rem;
	width: 200px;
	height: 100px;
	/*background: red;*/
}
#lj span{
	font-size: 25px;
	font-family: '黑体';
}
#lj a{
	margin-left: 1rem;
	color: #000;
	display: block;
	font-size: 15px;
	padding: 5px 2px;
}
